<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/guestBoard.css">
  <link rel="stylesheet" href="./css/index.css">
  <title>个人博客</title>
</head>

<body>
  <canvas id="canvas" class="canvas" width="1440" height="900"></canvas>
  <header class="header">
    <div class="container">
      <a href="#" class="title">我的个人博客 | 技术博客</a>
      <ul class="menu">
        <li><a href="/">首页</a></li>
        <li><a href="/sitemap.html">地图</a></li>
        <li><a href="/about.html">关于</a></li>
        <li><a href="/guestBoard.html">留言</a></li>
      </ul>
      <div class="search-bar">
        <input type="text" placeholder="输入关键词查找">
        <button>搜索</button>
      </div>
    </div>
  </header>
  <section class="content">
    <div class="content-left">
      <div class="description">
        <p>asdfasdfasdfasdfdasa</p>
        <p>asdfasdfasdfasdfdasa</p>
        <p>asdfasdfasdfasdfdasa</p>
      </div>
      <div class="blog-comments" id="blog-comment">
        <span class="blog-comment-msg">当前文章: 有{{total}}条留言</span>
        <div class="blog-comment" v-for="(comment, index) in commentsList" :key="index">
          <span><b>{{comment.user_name}}</b>:{{comment.option}}发表于 {{comment.ctime}} <a @click="reply(comment.id, comment.user_name)" style="cursor: pointer;">[回复]</a></span>
          <div>{{comment.comment}}</div>
        </div>
      </div>
      <div class="send-comments" id="comments">
        <span>发表评论</span>
        <div>
          <input type="hidden" id="comment-reply" value="-1">
          <input type="hidden" id="comment-reply-name" value="0">
          <input type="text"  placeholder="昵称" id="comment-name">
          <input type="text" placeholder="邮箱(评论被回复时你能收到通知)" id="comment-email">
        </div>
        <div>
          <textarea placeholder="无意义的内容我可能不会回复你" name="" id="comment-content" cols="30" rows="10"></textarea>
        </div>
        <div>
          <input type="text" placeholder="验证码" id="comment-code">
          <span v-html="vcode" @click="getCaptcha"></span>
        </div>
        <button @click="sendComment">提交评论</button>
      </div>
    </div>
    <div class="content-right">
      <div id="random_tags" class="right_module">
        <div class="">随机标签云</div>
        <a v-bind:style="{color:randomColor() , fontSize:randomSize()}" v-for="(tag, index) in tags" :key="index" :href="tag.link">{{tag.text}}</a>
      </div>
      <div class="right_module" id="new-hot">
        <div class="">最近热门</div>
        <ul>
          <li v-for="(item, index) in titleList" :key="index">
            <a v-bind:href="item.link">{{item.title}}</a>
          </li>
        </ul>
      </div>
      <div class="right_module" id="new-comment">
        <div class="">最近评论</div>
        <ul>
          <li v-for="(comment, index) in commentList" :key="index">
            <div>
              <span>{{comment.name}}</span>
              <span class="pull-right">{{comment.date}}</span>
            </div>
            <p>{{comment.comment}}</p>
          </li>
        </ul>
      </div>
      <div class="right_module">
        <div class="">友情链接</div>
        <span><a href="#">挨踢茶馆</a></span>
        <span><a href="#">挨踢茶馆</a></span>
        <span><a href="#">挨踢茶馆</a></span>
        <span><a href="#">挨踢茶馆</a></span>
        <span><a href="#">挨踢茶馆</a></span>
      </div>
    </div>
  </section>
  <footer class="footer">
    <ul>
      <li>C/C++</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>javascript</li>
      <li>Vue</li>
      <li>React</li>
      <li>C/C++</li>
      <li>C/C++</li>
      <li>C/C++</li>
      <li>C/C++</li>
    </ul>
    <p>Copyright © 2019</p>
  </footer>
</body>
<script src="./js/background.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
<script src='./js/axios.js'></script>
<script src="./js/guestBoard.js"></script>
<script src="./js/base.js"></script>
</html>